div{
    font-size: 30px;
}

#two{
    color: green;
    font-style: italic;
}

.text-1{
    color: red;
    text-transform: uppercase;
}
table{
    width: 500px;
    border: 1px solid gray;
    border-collapse: collapse;
   
}
tr{
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}

td{
    height: 30px;
    border-bottom: #ccc 1px solid;
}
.hg{
    background-color: blue;
    font-weight: bold;
    color: white;
}

.hh{
    background-color: grey;
}

form{
    background-color: blueviolet;
    width: 600px;
    padding: 20px;
    border: 3px solid gray;
    box-sizing: border-box;
    border-radius: 3px;
}
input{
    height: 30px;
    border: 5px solid gray;
    width: 300px;

}

button{
    width: 120px;
    height: 30px;
    background-color: aqua;
    color: white;
    border: 5px solid;
}