/* .my-div{
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.my-div1{
    display: inline;
    border: 1px solid black;
}

.my-div2{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}
.my-div3{
    display: block;
    width: 200px;
    height: 200px;
    border: 1px solid red;
} */

/* .flexbox{
    width: 700px;
    height: 500px;

    display: flex; 
    border: 1px solid black;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    flex-wrap: wrap-reverse;

}

.flexbox-item {
    width: 80px;
    height: 80px;
    border: 1px solid green;
    padding: 10px;
    box-sizing: border-box;
}

.flexbox-item.my-item{
    width: 200px;
    height: 200px;

} */

.footer {
    height: 200px;
    background-color: darkblue;
    color: white;
    padding: 10px;
}

.footer-content-1 {
    display: flex;
    justify-content: space-between;
    background-color: brown;
    padding: 10px;
    align-items: stretch;
}

.footer-btn-group {
    background-color: green;
    width: 60%;
}

.footer-contact {
    background-color: chartreuse;
    width: 30%;
}

.footer-content-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

